<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-banner-heading" data-cy="BannerCreateUpdateHeading">Create or edit a Banner</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_img">Img</label>
          <input type="text" class="form-control" name="img" id="field_img" data-cy="img" formControlName="img" />
          <div *ngIf="editForm.get('img')!.invalid && (editForm.get('img')!.dirty || editForm.get('img')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('img')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('img')?.errors?.maxlength">
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_url">Url</label>
          <input type="text" class="form-control" name="url" id="field_url" data-cy="url" formControlName="url" />
          <div *ngIf="editForm.get('url')!.invalid && (editForm.get('url')!.dirty || editForm.get('url')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('url')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('url')?.errors?.maxlength">
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.maxlength">
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_active">Active</label>
          <input type="text" class="form-control" name="active" id="field_active" data-cy="active" formControlName="active" />
          <div *ngIf="editForm.get('active')!.invalid && (editForm.get('active')!.dirty || editForm.get('active')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('active')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('active')?.errors?.maxlength">
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_position">Position</label>
          <input type="text" class="form-control" name="position" id="field_position" data-cy="position" formControlName="position" />
          <div *ngIf="editForm.get('position')!.invalid && (editForm.get('position')!.dirty || editForm.get('position')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('position')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('position')?.errors?.maxlength">
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_store">Store</label>
          <input type="text" class="form-control" name="store" id="field_store" data-cy="store" formControlName="store" />
          <div *ngIf="editForm.get('store')!.invalid && (editForm.get('store')!.dirty || editForm.get('store')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('store')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('store')?.errors?.maxlength">
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
          <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('type')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('type')?.errors?.maxlength">
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_html">Html</label>
          <input type="text" class="form-control" name="html" id="field_html" data-cy="html" formControlName="html" />
          <div *ngIf="editForm.get('html')!.invalid && (editForm.get('html')!.dirty || editForm.get('html')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('html')?.errors?.maxlength">
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
